<html>
        <body>
                <head>
                        
    
                
                        <link rel='shortcut icon' type='image/png' href="images/favicon.png">
      
                        <script type="text/x-mathjax-config">
                            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
                        </script>
                        <script type="text/javascript"
                          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
                        </script>
                
                        <!-- Metadata. -->
                        <meta name="keywords" content="Qi Qi,blog,research,programming,coding,haskell,function,personal,homepage"/>
                        <meta name="description" content="Web Portfolio of Qi Qi."/>
                </head>

                
        </body>
</html>