<html>
        <body>
                <div class="masthead">
                        
                        <ul class="nav nav-justified">
                            <li><a href="/">Home </a></li>
                            <li><a href="/English_version">English page</a></li>
        
        
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="500" data-close-others="false"
                                    href="/research">
                                    Research <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/research">我的研究 My research</a></li>
                                    <li><a href="/research/venues.html">研究资源 Research venues, resources</a></li>
                                </ul>
                            </li>
        
        
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="false"
                                    href="/teaching">
                                    教课 Teaching <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/teaching/AI">人工智能导论 (Introduction to Artificial Intelligence)</a></li>
                                    <li><a href="/teaching/info-security">信息安全基础</a></li>
                                    <li><a href="/teaching/network-security">网络安全技术</a></li>
                                    <li><a href="/teaching/electric-circuits">电路原理</a></li>
                                    <li><a href="/teaching/big-data">大数据技术（研究生课程）</a></li>
                                    <li><a href="/teaching/Electronics">计算机电子电路</a></li>
                                    <li><a href="/teaching/OO">面向对象分析与设计 (Object-oriented design and analysis)</a></li>
                                    <li><a href="/teaching/Seminar">计算机发展前沿专题讲座</a></li>
        
                                </ul>
                            </li>
        
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
        </body>
</html>